div.conteiner {
    display: flex;
    height: 100px;
    flex-flow: column wrap;
    background-color: lightsalmon;
}

div.item {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    flex: auto;
}