@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body{
    width: 99vw;
    height: 99vh;
}

header {
    background-color: orangered;
    text-align: center;
    color: aliceblue;
}

header h1 {
    padding: 10px;
}

ul {
    display: flex;
    background-color: green;
    padding: 10px;
    color: rgb(255, 255, 255);
}

li {
    flex: auto;
    flex-direction: row;
    font-weight: bold;
}

li:hover {
    color: orangered;
    cursor: pointer;
}

main {
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    margin: 20px 0px;
    font-size: 1.7em;
}

.noticias {
    margin: auto;
    background-color: rgb(213, 211, 211);
    max-width: 650px;
    padding: 10px;
    border-radius: 10px;
}

.noticias img {
    display: block;
    margin: auto;
    width: 100%;
}

.noticias h3, p {
    padding: 15px;
}

footer {
    text-align: center;
    background-color: blueviolet;
    color: white;
}